# Ignore the "build" and "devel" folder of the catkin_ws

catkin_ws/*
!catkin_ws/launch/
catkin_ws/launch/*
!catkin_ws/launch/main.launch
!catkin_ws/src/
catkin_ws/src/*
!catkin_ws/src/.gitkeep

# Ignore swp files and other typically unwanted files
*.swp
.DS_Store
