[submodule "catkin_ws/src/PUTM_DV_CAN_TO_ROS"]
	path = catkin_ws/src/PUTM_DV_CAN_TO_ROS
	url = git@github.com:PUT-Motorsport/PUTM_DV_CAN_TO_ROS.git
[submodule "catkin_ws/src/PUTM_DV_TRACTION_CONTROL_DRIVER"]
	path = catkin_ws/src/PUTM_DV_TRACTION_CONTROL_DRIVER
	url = git@github.com:PUT-Motorsport/PUTM_DV_TRACTION_CONTROL_DRIVER.git
